{
	"name": "postgres-sink-users",
	"config": {
		"value.converter.schema.registry.url": "http://schema-registry:8081",
		"connector.class": "io.confluent.connect.jdbc.JdbcSinkConnector",
		"key.converter": "org.apache.kafka.connect.storage.StringConverter",
		"value.converter": "org.apache.kafka.connect.json.JsonConverter",
		"value.converter.schemas.enable": "true",
		"topics": "orders",
		"connection.url": "jdbc:postgresql://postgres:5432/",
		"connection.user": "postgres",
		"connection.password": "postgres",
		"insert.mode": "upsert",
		"delete.enabled": true,
		"table.name.format": "demo.orders",
		"pk.mode": "record_key",
		"pk.fields": "orderid",
		"auto.create": "true"
	}
}